body{
  background: pink;
  text-align: center;
}
img{
  width:50%;
  border-radius: 1%;
}
.card{
  background: red;
  width: 20%;
  border-radius: 2em;
}
#card{
 .card:hover{
  box-shadow: 0 8px 8px 0 green;
}
@media only screen and (min-device-width:350px) and (max-device-width:400px){
  .card{
    width:100;
  }
}
