body{
  background: pink;
  text-align: center;
}
img{
  width:50%;
  border-radius: 1%;
}
.card{
  background: red;
  width: 20%;
  border-radius: 2em;
}
#card{
  justify-content: space-around;
  display: flex;
  margin:2%;
}
.card:hover{
  box-shadow: 0 8px 8px 0 green;
}
@media only screen and (main-device-written:350px) and (main-device-written:400px){
  .card{
    width:100;
  }
}
