.main{
  background:lightpink;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left{
  background:lightgreen;
  width: 40%;
  text-align: center;
}
.left1{
  width: 30%;
}
.right{
  background :lightblue;
  width:50%;
}
@media only screen and (min-device-width:460px) and (max-device-width:780px){
.main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left{
  width: 100%;
  display: flex;

}
.left1{
  width: 100%;
}
.right{
  width: 100%;
}
details{
  display: flex;
  justify-content: space-between;
}
